*{
    margin: 0;
    border-color: transparent;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 10px 5px 5px rgb(172, 170, 170);

}

nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

i{
    color: orangered;
}
#home{
    padding: 100px;
    background: #FFE8E0;
    background: linear-gradient(135deg, rgba(255, 232, 224, 1) 0%, rgba(253, 232, 235, 1) 100%);
    display: flex;
    align-items: center;
    gap: 30px;
}
#home h1{
    font-size: 60px;
    margin: 0;
}
.everything input{
    margin-top: 30px;
    height: 50px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(172, 170, 170);

}
.search{
    height: 40px;
    width: 130px;
    border-radius: 30px;
    background: #F25C4D;
background: linear-gradient(135deg, rgba(242, 92, 77, 1) 0%, rgba(244, 123, 97, 1) 100%);
    color: white;
}
.search:hover{
background: #F25C4D;
}
.search i{
    color: white;
    
}
.everything input:placeholder-shown{
    padding-left: 10px;
    font-size: 15px;
}
#special{
    background: #F25C4D;
    background: linear-gradient(135deg, rgba(242, 92, 77, 1) 0%, rgba(244, 123, 97, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#home h2{
    font-size: 20px;
    font-weight: normal;
    color: rgb(83, 82, 82);
    padding: 10px;
}
img{
    height: 100px;
}
.exampleimages{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    
}
.exampleimages img{
    height: 200px;
    border-radius: 12%;
}
.exampleimages img:hover{
    box-shadow: 2px 2px 2px rgb(172, 170, 170);
}
#salad,#pancake{
    width: 300px;
}
#burger,#cake{
    height: 130px;
    width: 300px;
}
#featured{
    background-color: rgb(242, 240, 240);
    padding: 100px;
    padding-top: 60px;
}
#featured h2{
    font-size: 30px;
}
#featured h2,h3{
    text-align: center;
    padding: 10px;
}
#featured h3{
    font-weight: normal;
    color: rgb(108, 108, 108);
    font-size: 20px;
    padding: 20px;
}
.recipes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
}
.onerecipe{
    background-color: white;
    border-radius: 15px;
}
.onerecipe img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.onerecipe h5{
    font-size: 20px;
    padding: 10px;
}
.onerecipe .text{
    padding: 10px;
}
.onerecipe:hover{
    transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}
.meta{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.meta i{
    color: rgb(108, 108, 108);
    font-size: 12px;
}
.filters{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.filter{
    background-color: rgb(219, 216, 216);
    border-radius: 12px;
    height: 20px;
    width: 80px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.all{
    background: #F25C4D;
    background: linear-gradient(135deg, rgba(242, 92, 77, 1) 0%, rgba(244, 123, 97, 1) 100%);
    margin-top: 20px;
    margin-left: 475px;
    height: 50px;
    width: 300px;
    border-radius: 30px;
}
.all:hover{
    background: #F25C4D;
}
#catagory{
    padding-top: 60px;
    padding: 100px;
}
#catagory h2{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#catagory h3{
    padding-bottom: 30px;
    color: rgb(108, 108, 108);
    
}
.group{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-content: space-between;
    align-items: center;
}
.burg{
    margin-top: 20px;
        width: 400px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        background-image: url('../images/burger.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        position: relative;
        color: white; 
}
.burg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #f25b4d90);
    z-index: 1;
  }
  .diet{
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../images/dietplan.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    color: white; 
}
.diet::before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(to bottom, rgba(14, 201, 70, 0.529));
z-index: 1;
}
.des{
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../images/cake.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    color: white; 
}
.des::before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(to bottom, rgba(146, 31, 199, 0.525));
z-index: 1;
}
.drink{
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../images/drink.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    color: white; 
}
.drink::before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(to bottom, rgba(76, 189, 202, 0.603));
z-index: 1;
}
.break{
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../images/food.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    color: white; 
}
.break::before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(to bottom, rgba(172, 194, 46, 0.491));
z-index: 1;
}
.app{
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../images/fries.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    color: white; 
}
.app::before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(to bottom, rgba(14, 201, 70, 0.529));
z-index: 1;
}
  .onegroup {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    height: 100%;

  }
  .onegroup h4{
    font-size: 25px;
    padding-bottom: 20px;
  }
  .onegroup h5{
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: normal;
  }
  .group *:hover{
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  }